<!DOCTYPE html>
<html>
<head>
  <title>Ihavetogo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "toilets" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "toilets" %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAogjz14mbMNdLablY6jMIXWS8h-ZPdbVU"></script>
  <link href='https://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Permanent+Marker|Kalam' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body data-ng-app="toilets">
  <%= yield %>
</body>

</html>
